@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  background: #f5f8fb;
  color: #08111f;
  font-family: Manrope, "Avenir Next", "Segoe UI", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", "Trebuchet MS", sans-serif;
}
